<!-- <div [style.backgroundImage]="'url(' + backgroundImage + ')'" class="custom-bg"> -->
<div class="custom-bg">
  <form class="form animate-fade-down">
    <p class="login">Register on Coffe.QR</p>
    <div class="inputContainer">
      <input
        placeholder="Choose a username"
        type="text"
        class="fInput username"
      />
      <input placeholder="Your Email" type="email" class="fInput email" />
      <input placeholder="Phone Number" type="tel" class="fInput phone" />
      <input
        placeholder="Create a password"
        type="password"
        class="fInput pass"
      />
      <input
        placeholder="Confirm your password"
        type="password"
        class="fInput confirm-pass"
      />
    </div>
    <button class="log">Register</button>
    <div class="con">
      <p>Already have an account?&nbsp;</p>
      <a routerLink="/login">Log in</a>
    </div>
  </form>
</div>
