<div
    class="custom-bg-manager flex h-screen flex-col items-center justify-center bg-gradient-to-tr"
>
    <form
        class="mb-4 w-1/2 animate-fade-down rounded bg-white bg-opacity-25 px-16 py-8 text-center"
        (ngSubmit)="onSubmit()"
    >
        <div class="mb-4">
            <label
                class="mb-2 block text-2xl font-bold text-stone-50"
                for="description"
            >
                Description:
            </label>
            <input
                class="focus:shadow-outline w-full appearance-none rounded border px-3 py-3 text-center leading-tight text-gray-700 shadow focus:outline-none"
                type="text"
                [(ngModel)]="description"
                name="description"
                required
            />
        </div>
        <div class="mb-4">
            <label
                class="mb-2 block text-2xl font-bold text-stone-50"
                for="frequency"
            >
                Frequency unit:
            </label>
            <select
                name="frequency"
                [(ngModel)]="frequency"
                class="focus:shadow-outline w-full appearance-none rounded border px-3 py-3 text-center leading-tight text-gray-700 shadow focus:outline-none"
            >
                <option *ngFor="let freq of frequencies" [value]="freq">
                    {{ freq }}
                </option>
            </select>
        </div>
        <div class="mb-4">
            <label
                class="mb-2 block text-2xl font-bold text-stone-50"
                for="unitNumber"
            >
                Frequency number of unit:
            </label>
            <input
                class="focus:shadow-outline w-full appearance-none rounded border px-3 py-3 text-center leading-tight text-gray-700 shadow focus:outline-none"
                type="number"
                [(ngModel)]="unitNumber"
                name="unitNumber"
                required
            />
        </div>

        <div class="mb-4">
            <label
                class="mb-2 block text-2xl font-bold text-stone-50"
                for="startDate"
            >
                Event Start Date:
            </label>
            <input
                class="focus:shadow-outline w-full appearance-none rounded border px-3 py-3 text-center leading-tight text-gray-700 shadow focus:outline-none"
                type="date"
                [(ngModel)]="startDate"
                name="startDate"
                required
            />
        </div>

        <div class="mb-4">
            <label
                class="mb-2 block text-2xl font-bold text-stone-50"
                for="endDate"
            >
                Event End Date:
            </label>
            <input
                class="focus:shadow-outline w-full appearance-none rounded border px-3 py-3 text-center leading-tight text-gray-700 shadow focus:outline-none"
                type="date"
                [(ngModel)]="endDate"
                name="endDate"
                required
            />
        </div>

        <div class="flex items-center justify-center">
            <button
                class="focus:shadow-outline rounded bg-stone-700 px-6 py-3 font-bold text-white duration-300 hover:bg-stone-400 hover:text-black focus:outline-none"
                type="submit"
            >
                Create contract
            </button>
        </div>
    </form>
</div>
