<div
    class="custom-bg-manager flex h-screen flex-col items-center justify-center bg-gradient-to-tr"
>
    <div
        class="m-auto grid w-6/12 animate-flip-down grid-cols-1 gap-4 rounded-md bg-white bg-opacity-15 p-7 animate-delay-300 animate-duration-1000"
        style="height: 69vh"
    >
        <h1 class="mx-auto text-3xl font-semibold uppercase text-zinc-50">
            {{ eventName }}
        </h1>
        <si-seatsio-event-manager
            [config]="eventManagerConfig"
        ></si-seatsio-event-manager>
        <button
            (click)="onShowCategoriesInfo()"
            class="mx-auto mt-1 w-56 rounded-lg bg-transparent bg-zinc-300 p-2 font-semibold uppercase duration-300 hover:bg-zinc-700 hover:text-zinc-100"
        >
            Show categories info
        </button>
    </div>
</div>
