<div
    class="to-brown-500 custom-bg-waiter flex h-screen flex-col items-center justify-center"
>
    <h1 class="animate-fade-down text-6xl text-white">
        Hello {{ user?.username }}, your role is {{ user?.role }}
    </h1>
    <div class="mt-8 animate-fade-down space-x-4">
        <button
            (click)="onLogout()"
            class="rounded bg-slate-600 bg-opacity-80 px-6 py-3 font-bold uppercase text-white transition duration-300 hover:scale-110 hover:bg-slate-700"
        >
            Logout
        </button>
        <button
            (click)="onNotifications()"
            class="relative rounded bg-stone-700 px-6 py-3 font-bold uppercase text-white transition duration-300 hover:scale-110 hover:bg-stone-800"
        >
            Notifications
            <span
                *ngIf="numberNotifications > 0"
                class="absolute right-0 top-0 inline-flex h-6 w-6 -translate-y-1/2 translate-x-1/2 transform items-center justify-center rounded-full bg-red-600 text-xs text-white"
                >{{ numberNotifications }}
            </span>
        </button>
    </div>
</div>
