<div
    class="flex h-screen flex-col items-center justify-center bg-gradient-to-tr from-slate-100 to-black"
>
    <div class="container flex w-7/12 items-center justify-center">
        <button
            (click)="callWaiter()"
            class="mr-5 h-16 animate-fade-down rounded-md bg-slate-500 p-5 duration-300 hover:bg-slate-700 hover:text-white"
        >
            Call Waiter
        </button>
        <button
            (click)="askForTheBill()"
            class="mr-5 h-16 animate-fade-down rounded-md bg-slate-500 p-5 duration-300 hover:bg-slate-700 hover:text-white"
        >
            Ask for the bill
        </button>
    </div>
</div>
