<div
    class="flex h-screen flex-col items-center justify-center bg-gradient-to-tr from-slate-100 to-black"
>
    <div
        *ngIf="Foods.length > 0 || Drinks.length > 0"
        class="flex max-h-[50vh] w-7/12 flex-col items-center overflow-auto rounded-lg bg-white bg-opacity-20 p-6 shadow-lg"
    >
        <div class="mb-8 w-full">
            <h2 class="mb-3 text-center text-2xl text-zinc-200">Drinks</h2>
            <hr class="mb-5 w-full bg-black" />
            <ul class="space-y-8">
                <li
                    *ngFor="let drink of Drinks"
                    class="flex items-center justify-center space-x-8 rounded-lg bg-white bg-opacity-25 p-4 duration-300 hover:bg-opacity-50"
                >
                    <img
                        [src]="drink.picture"
                        alt="{{ drink.name }}"
                        class="mr-24 h-24 w-24 rounded-lg object-cover"
                    />
                    <div
                        class="flex flex-col items-center justify-center space-y-2 text-center"
                    >
                        <h2 class="text-xl font-semibold text-gray-800">
                            {{ drink.name }}
                        </h2>
                        <p class="text-gray-600">{{ drink.description }}</p>
                        <p class="text-lg font-medium text-gray-700">
                            {{ drink.price }}$
                        </p>
                        <div class="mt-2 flex items-center space-x-4">
                            <button
                                (click)="removeItemFromOrder(drink.id)"
                                class="h-10 w-10 rounded bg-slate-500 text-white duration-300 hover:bg-stone-400"
                            >
                                -
                            </button>
                            <p class="text-xl font-semibold">
                                {{ drink.quantity }}
                            </p>
                            <button
                                (click)="addItemToOrder(drink.id)"
                                class="h-10 w-10 rounded bg-slate-500 text-white duration-300 hover:bg-stone-400"
                            >
                                +
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="w-full">
            <h2 class="mb-3 text-center text-2xl text-zinc-200">Food</h2>
            <hr class="mb-5 w-full bg-black" />
            <ul class="space-y-8">
                <li
                    *ngFor="let food of Foods"
                    class="flex items-center justify-center space-x-8 rounded-lg bg-white bg-opacity-25 p-4 duration-300 hover:bg-opacity-50"
                >
                    <img
                        [src]="food.picture"
                        alt="{{ food.name }}"
                        class="mr-24 h-24 w-24 rounded-lg object-cover"
                    />
                    <div
                        class="flex flex-col items-center justify-center space-y-2 text-center"
                    >
                        <h2 class="text-xl font-semibold text-gray-800">
                            {{ food.name }}
                        </h2>
                        <p class="text-gray-600">{{ food.description }}</p>
                        <p class="text-lg font-medium text-gray-700">
                            {{ food.price }}$
                        </p>
                        <div class="mt-2 flex items-center space-x-4">
                            <button
                                (click)="removeItemFromOrder(food.id)"
                                class="h-10 w-10 rounded bg-slate-500 text-white duration-300 hover:bg-stone-400"
                            >
                                -
                            </button>
                            <p class="text-xl font-semibold">
                                {{ food.quantity }}
                            </p>
                            <button
                                (click)="addItemToOrder(food.id)"
                                class="h-10 w-10 rounded bg-slate-500 text-white duration-300 hover:bg-stone-400"
                            >
                                +
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div
        *ngIf="Foods.length === 0 && Drinks.length === 0"
        class="text-center text-2xl text-white"
    >
        No items in the menu
    </div>
    <div
        class="container mt-8 flex w-7/12 animate-fade-down items-center justify-center"
    >
        <input
            [(ngModel)]="orderDescription"
            placeholder="Note"
            name="description"
            type="text"
            class="h-16 w-full rounded-md bg-slate-500 p-5 text-center text-white duration-300 hover:bg-slate-700"
        />
    </div>
    <div class="container mt-10 flex w-7/12 items-center justify-center">
        <button
            (click)="callWaiter()"
            class="mr-5 h-16 animate-fade-down rounded-md bg-slate-500 p-5 text-white duration-300 hover:bg-slate-700"
        >
            Call Waiter
        </button>
        <button
            (click)="askForTheBill()"
            class="mr-5 h-16 animate-fade-down rounded-md bg-slate-500 p-5 text-white duration-300 hover:bg-slate-700"
        >
            Ask for the bill
        </button>
        <button
            (click)="order()"
            class="mr-5 h-16 animate-fade-down rounded-md bg-slate-500 p-5 text-white duration-300 hover:bg-slate-700"
        >
            Order
        </button>
    </div>
</div>
