<nav class="fixed w-full z-50 bg-inherit animate-fade-down">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-4">
        <!-- logo -->
        <div>
          <a
            class="flex items-center py-5 px-2 hover:animate-pulse hover:animate-once"
          >
            <!-- Image logo -->
            <img
              src="../../../assets/logoWhite.png"
              alt="Coffe.QR Logo"
              class="h-16 w-auto mr-2"
            />
            <!-- Adjust the h-8 (height) and w-auto (width auto) classes as needed -->
            <span style="margin-left: -12px" class="font-bold text-white"
              >Coffee.QR</span
            >
            <!-- Optional: Text next to the logo -->
          </a>
        </div>
        <!-- primary nav -->
        <div class="hidden md:flex items-center space-x-1">
          <a href="#" class="py-5 px-3 custom-color">Home</a>
          <a routerLink="/about" class="py-5 px-3 custom-color">About</a>
          <a href="#" class="py-5 px-3 custom-color">Services</a>
          <a href="#" class="py-5 px-3 custom-color">Contact</a>
        </div>
      </div>
      <!-- secondary nav -->
      <div class="hidden md:flex items-center space-x-1">
        <a [routerLink]="['/login']" class="py-2 px-3 rounded btn-custom-color"
          >Login</a
        >
        <a [routerLink]="['/register']" class="py-2 px-3 custom-color"
          >Sign Up</a
        >
      </div>
    </div>
  </div>
</nav>

<!-- <button class="md:hidden flex items-center" (click)="toggleNavbar()">
  <svg
    class="w-6 h-6"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16m-7 6h7"
    ></path>
  </svg>
</button> -->
