<nav class="fixed z-50 w-full animate-fade-down bg-inherit">
    <div class="mx-auto max-w-6xl px-4">
        <div class="flex justify-between">
            <div class="flex space-x-4">
                <!-- logo -->
                <div>
                    <a
                        class="flex items-center px-2 py-5 hover:animate-pulse hover:animate-once"
                        [routerLink]="getRouteBasedOnRole()"
                    >
                        <!-- Image logo -->
                        <img
                            src="../../../assets/logoWhite.png"
                            alt="Coffe.QR Logo"
                            class="mr-2 h-16 w-auto"
                        />
                        <span
                            style="margin-left: -12px"
                            class="font-bold text-white"
                            >Coffee.QR</span
                        >
                    </a>
                </div>
                <!-- primary nav -->
                <div class="hidden items-center space-x-1 md:flex">
                    <a
                        *ngIf="user && user.username == ''"
                        href="#"
                        class="custom-color px-3 py-5"
                        >Home</a
                    >
                    <a
                        *ngIf="user && user.username == ''"
                        routerLink="/about"
                        class="custom-color px-3 py-5"
                        >About</a
                    >
                    <!-- <a
                        *ngIf="user && user.username == ''"
                        href="#"
                        class="custom-color px-3 py-5"
                        >Services</a
                    > -->
                    <a
                        *ngIf="user && user.username == ''"
                        [routerLink]="['/contact']"
                        class="custom-color px-3 py-5"
                        >Contact</a
                    >
                    <a
                        *ngIf="user && user.username == ''"
                        [routerLink]="['/job-application-form']"
                        class="custom-color px-3 py-5"
                        >Hiring</a
                    >

                    <div
                        *ngIf="user && user.role === 'manager'"
                        class="relative"
                    >
                        <button
                            class="custom-color px-3 py-5"
                            (mouseenter)="openDropdown('event')"
                            (mouseleave)="startChecking('event')"
                        >
                            Event
                        </button>
                        <div
                            *ngIf="dropdowns['event']"
                            class="absolute right-3 top-12 z-10 w-32 bg-white bg-opacity-70 shadow-lg"
                            (mouseenter)="stopChecking()"
                            (mouseleave)="closeDropdown('event')"
                            @dropdown
                        >
                            <a
                                *ngIf="user && user.role === 'manager'"
                                [routerLink]="['/create-event']"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                >Create Event</a
                            >
                            <a
                                *ngIf="user && user.role === 'manager'"
                                [routerLink]="['/events-overview']"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                >Events overview</a
                            >
                        </div>
                    </div>

                    <div
                        *ngIf="user && user.role === 'manager'"
                        class="relative"
                    >
                        <button
                            class="custom-color px-3 py-5"
                            (mouseenter)="openDropdown('supply')"
                            (mouseleave)="startChecking('supply')"
                        >
                            Supply
                        </button>
                        <div
                            *ngIf="dropdowns['supply']"
                            class="absolute left-4 top-12 z-10 w-48 bg-white bg-opacity-70 shadow-lg"
                            (mouseenter)="stopChecking()"
                            (mouseleave)="closeDropdown('supply')"
                            @dropdown
                        >
                            <a
                                *ngIf="user && user.role === 'manager'"
                                [routerLink]="['/supply-status']"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                >Supply status</a
                            >
                            <a
                                *ngIf="user && user.role === 'manager'"
                                [routerLink]="['/supply-create']"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                >Create supply</a
                            >
                            <a
                                href="#"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                >Recommended supply</a
                            >
                        </div>
                        <a
                            class="custom-color px-3 py-5"
                            [routerLink]="['/create-table']"
                            >Create Table</a
                        >
                        <a
                            class="custom-color px-3 py-5"
                            [routerLink]="['/jobs-overview']"
                            >Job Applications</a
                        >

                    </div>
                    
                    <a
                        *ngIf="user && user.username !== ''"
                        class="custom-color px-3 py-5"
                        [routerLink]="['/google-form']"
                        >Survey</a
                    >
                    
                    <a
                        *ngIf="user && user.role === 'itsupport'"
                        [routerLink]="['/create-local']"
                        class="custom-color px-3 py-5"
                        >Create local</a
                    >
                </div>
                <!--primary nav end -->
            </div>
            <!-- secondary nav -->
            <div class="hidden items-center space-x-1 md:flex">
                <a
                    *ngIf="user && user.username === ''"
                    [routerLink]="['/login']"
                    class="btn-custom-color rounded px-3 py-2"
                    >Login</a
                >
                <a
                    *ngIf="user && user.username === ''"
                    [routerLink]="['/register']"
                    class="custom-color px-3 py-2"
                    >Sign Up</a
                >
                <button
                    *ngIf="user && user.username !== ''"
                    (click)="logout()"
                    class="btn-custom-color rounded px-3 py-2"
                >
                    Logout
                </button>
            </div>
        </div>
    </div>
</nav>

<!-- <button class="md:hidden flex items-center" (click)="toggleNavbar()">
  <svg
    class="w-6 h-6"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16m-7 6h7"
    ></path>
  </svg>
</button> -->
