<nav class="fixed z-50 w-full animate-fade-down bg-inherit">
    <div class="mx-auto max-w-6xl px-4">
        <div class="flex justify-between">
            <div class="flex space-x-4">
                <!-- logo -->
                <div>
                    <a
                        class="flex items-center px-2 py-5 hover:animate-pulse hover:animate-once"
                    >
                        <!-- Image logo -->
                        <img
                            src="../../../assets/logoWhite.png"
                            alt="Coffe.QR Logo"
                            class="mr-2 h-16 w-auto"
                        />
                        <span
                            style="margin-left: -12px"
                            class="font-bold text-white"
                            >Coffee.QR</span
                        >
                    </a>
                </div>
                <!-- primary nav -->
                <div class="hidden items-center space-x-1 md:flex">
                    <a
                        *ngIf="user && user.username == ''"
                        href="#"
                        class="custom-color px-3 py-5"
                        >Home</a
                    >
                    <a
                        *ngIf="user && user.username == ''"
                        routerLink="/about"
                        class="custom-color px-3 py-5"
                        >About</a
                    >
                    <!-- <a
                        *ngIf="user && user.username == ''"
                        href="#"
                        class="custom-color px-3 py-5"
                        >Services</a
                    > -->
                    <a
                        *ngIf="user && user.username == ''"
                        [routerLink]="['/contact']"
                        class="custom-color px-3 py-5"
                        >Contact</a
                    >
                    <a
                        *ngIf="user && user.username == ''"
                        [routerLink]="['/job-application-form']"
                        class="custom-color px-3 py-5"
                        >Hiring</a
                    >
                    <a
                        *ngIf="user && user.role === 'manager'"
                        [routerLink]="['/create-event']"
                        class="custom-color px-3 py-5"
                        >Create Event</a
                    >
                    <div *ngIf="user && user.role !== ''" class="relative">
                        <button
                            (click)="toggleDropdownSupply()"
                            class="custom-color px-3 py-5"
                        >
                            Supply
                        </button>
                        <div
                            *ngIf="isOpenSupply"
                            class="absolute right-0 z-10 mt-2 w-48 rounded-md bg-white shadow-lg"
                        >
                            <a
                                (click)="toggleDropdownSupply()"
                                *ngIf="user && user.role === 'manager'"
                                [routerLink]="['/supply-status']"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                >Supply status</a
                            >
                            <a
                                (click)="toggleDropdownSupply()"
                                *ngIf="user && user.role === 'manager'"
                                [routerLink]="['/supply-create']"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                >Create supply</a
                            >
                            <a
                                (click)="toggleDropdownSupply()"
                                href="#"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                >Recommended supply</a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <!-- secondary nav -->
            <div class="hidden items-center space-x-1 md:flex">
                <a
                    *ngIf="user && user.username === ''"
                    [routerLink]="['/login']"
                    class="btn-custom-color rounded px-3 py-2"
                    >Login</a
                >
                <a
                    *ngIf="user && user.username === ''"
                    [routerLink]="['/register']"
                    class="custom-color px-3 py-2"
                    >Sign Up</a
                >
                <button
                    *ngIf="user && user.username !== ''"
                    (click)="logout()"
                    class="btn-custom-color rounded px-3 py-2"
                >
                    Logout
                </button>
            </div>
        </div>
    </div>
</nav>

<!-- <button class="md:hidden flex items-center" (click)="toggleNavbar()">
  <svg
    class="w-6 h-6"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16m-7 6h7"
    ></path>
  </svg>
</button> -->
