<div class="mx-auto mt-32 flex w-1/2 flex-col items-center justify-center py-8">
    <h1
        class="mb-10 animate-fade-down cursor-default text-center text-4xl font-bold text-white transition duration-500 hover:scale-110 hover:text-cyan-300"
        style="font-family: 'Arial', sans-serif"
    >
        About Coffee.QR
    </h1>
    <p
        class="mb-7 animate-fade-down cursor-default rounded-xl text-center text-lg text-white transition duration-300 animate-delay-300 hover:scale-110 hover:bg-slate-900 hover:bg-opacity-50"
        style="font-family: 'Arial', sans-serif"
    >
        Coffee.QR is a revolutionary app developed by the FatMan team that
        allows coffee lovers to easily order their favorite drinks using QR
        codes.
    </p>
    <p
        class="mb-7 animate-fade-down cursor-default text-center text-lg text-white duration-300 animate-delay-500 hover:scale-110 hover:bg-slate-900 hover:bg-opacity-50"
        style="font-family: 'Arial', sans-serif"
    >
        With Coffee.QR, you can say goodbye to long queues and waiting times.
        Simply scan the QR code at your favorite coffee shop, customize your
        order, and enjoy your drink without any hassle.
    </p>
    <p
        class="mb-7 animate-fade-down cursor-default text-center text-lg text-white duration-300 animate-delay-700 hover:scale-110 hover:bg-slate-900 hover:bg-opacity-50"
        style="font-family: 'Arial', sans-serif"
    >
        Our mission is to provide coffee enthusiasts with a seamless and
        convenient ordering experience, while also supporting local coffee
        businesses.
    </p>
    <p
        class="mb-7 animate-fade-down cursor-default text-center text-lg text-white duration-300 animate-delay-1000 hover:scale-110 hover:bg-slate-900 hover:bg-opacity-50"
        style="font-family: 'Arial', sans-serif"
    >
        Join us on this coffee journey and experience the future of coffee
        ordering with Coffee.QR!
    </p>
    <img
        src="../../../assets/fatmanqrLogo.png"
        alt="FatMan Org Logo"
        class="mx-auto mt-8 size-60 animate-fade-down duration-300 animate-delay-1000 hover:size-64"
    />
</div>
