<div
    class="mx-auto mt-24 flex w-11/12 flex-col items-center justify-center px-4 py-8 lg:px-0"
>
    <div
        class="grid w-11/12 grid-cols-1 gap-2 sm:grid-cols-2 lg:w-7/12 lg:grid-cols-3"
    >
        <!-- Top left corner -->
        <div
            class="flex min-h-[200px] animate-flip-up items-center justify-center rounded bg-slate-400 bg-opacity-70 p-4 duration-500 animate-delay-300 hover:bg-orange-700 hover:bg-opacity-70"
        >
            <p class="cursor-default text-center text-lg text-zinc-100">
                Coffee.QR is a revolutionary app developed by the FatMan team
                that allows coffee lovers to easily order their favorite drinks
                using QR codes.
            </p>
        </div>

        <!-- Top center card (Empty for spacing) -->
        <div
            class="flex min-h-[200px] animate-flip-up items-baseline justify-center rounded p-4"
        >
            <h1
                class="mb-8 cursor-default text-center text-4xl font-bold text-zinc-100 transition duration-500 animate-delay-100 hover:scale-110 hover:text-cyan-300 sm:text-3xl"
            >
                About Coffee.QR
            </h1>
        </div>

        <!-- Top right corner -->
        <div
            class="flex min-h-[200px] animate-flip-up items-center justify-center rounded bg-slate-400 bg-opacity-70 p-4 duration-500 animate-delay-300 hover:bg-orange-700 hover:bg-opacity-70"
        >
            <p class="cursor-default text-center text-lg text-zinc-100">
                With Coffee.QR, you can say goodbye to long queues and waiting
                times. Simply scan the QR code , customize your order, and enjoy
                your drink without any hassle.
            </p>
        </div>

        <!-- Middle left card (Empty for spacing) -->
        <div
            class="flex min-h-[200px] animate-flip-up items-center justify-center rounded p-4"
        >
            <!-- Optional content or leave blank -->
        </div>

        <!-- Centered logo -->
        <div
            class="flex min-h-[200px] animate-flip-up items-center justify-center rounded animate-delay-500"
        >
            <img
                src="../../../assets/fatmanqrLogo.png"
                alt="FatMan Org Logo"
                class="w-20 duration-500 hover:scale-110 md:w-40 lg:w-80"
            />
        </div>

        <!-- Middle right card (Empty for spacing) -->
        <div
            class="flex min-h-[200px] animate-flip-up items-center justify-center rounded p-4"
        >
            <!-- Optional content or leave blank -->
        </div>

        <!-- Bottom left corner -->
        <div
            class="flex min-h-[200px] animate-flip-up items-center justify-center rounded bg-slate-400 bg-opacity-70 p-4 duration-300 animate-delay-700 hover:bg-orange-700 hover:bg-opacity-70"
        >
            <p class="cursor-default text-center text-lg text-zinc-100">
                Our mission is to provide coffee enthusiasts with a seamless and
                convenient ordering experience, while also supporting local
                coffee businesses.
            </p>
        </div>

        <!-- Bottom center card (Empty for spacing) -->
        <div
            class="flex min-h-[200px] animate-flip-up items-center justify-center rounded p-4"
        >
            <!-- Optional content or leave blank -->
        </div>

        <!-- Bottom right corner -->
        <div
            class="flex min-h-[200px] animate-flip-up items-center justify-center rounded bg-slate-400 bg-opacity-70 p-4 duration-300 animate-delay-700 hover:bg-orange-700 hover:bg-opacity-70"
        >
            <p class="cursor-default text-center text-lg text-zinc-100">
                Join us on this coffee journey and experience the future of
                coffee ordering with Coffee.QR! Start exploring our app today
                and discover a whole new way to enjoy.
            </p>
        </div>
    </div>
</div>
