<div
    class="mx-auto mt-24 flex w-11/12 flex-col items-center justify-center py-8"
>
    <h1
        class="mb-8 cursor-default text-center text-4xl font-bold text-zinc-100 transition duration-500 hover:scale-110 hover:text-cyan-300"
        style="font-family: 'Arial', sans-serif"
    >
        About Coffee.QR
    </h1>

    <div class="grid w-7/12 grid-cols-3 grid-rows-3 gap-4">
        <!-- Top left corner -->
        <div
            class="col-span-1 m-2 flex h-48 animate-flip-up items-center justify-center rounded bg-slate-400 bg-opacity-70 p-4 duration-500 animate-delay-300 animate-once hover:bg-orange-700 hover:bg-opacity-70"
        >
            <p
                class="text-zinc-1000 cursor-default text-center text-lg"
                style="font-family: 'Arial', sans-serif"
            >
                Coffee.QR is a revolutionary app developed by the FatMan team
                that allows coffee lovers to easily order their favorite drinks
                using QR codes.
            </p>
        </div>

        <!-- Top center card -->
        <div
            class="col-span-1 m-2 flex h-48 animate-flip-up items-center justify-center rounded"
        ></div>

        <!-- Top right corner -->
        <div
            class="col-span-1 m-2 flex h-48 animate-flip-up items-center justify-center rounded bg-slate-400 bg-opacity-70 p-4 duration-500 animate-delay-300 hover:bg-orange-700 hover:bg-opacity-70"
        >
            <p
                class="text-zinc-1000 cursor-default text-center text-lg"
                style="font-family: 'Arial', sans-serif"
            >
                With Coffee.QR, you can say goodbye to long queues and waiting
                times. Simply scan the QR code at your favorite coffee shop,
                customize your order, and enjoy your drink without any hassle.
            </p>
        </div>

        <!-- Middle left card -->
        <div
            class="col-span-1 m-2 flex h-48 animate-flip-up items-center justify-center rounded p-4"
        ></div>

        <!-- Centered logo -->
        <div
            class="col-span-1 m-2 flex h-48 animate-flip-up items-center justify-center rounded animate-delay-700"
        >
            <img
                src="../../../assets/fatmanqrLogo.png"
                alt="FatMan Org Logo"
                class="size-80 duration-500 hover:scale-110"
            />
        </div>

        <!-- Middle right card -->
        <div
            class="col-span-1 m-2 flex h-48 animate-flip-up items-center justify-center rounded p-4"
        ></div>

        <!-- Bottom left corner -->
        <div
            class="col-span-1 m-2 flex h-48 animate-flip-up items-center justify-center rounded bg-slate-400 bg-opacity-70 p-4 duration-300 animate-delay-1000 hover:bg-orange-700 hover:bg-opacity-70"
        >
            <p
                class="text-zinc-1000 cursor-default text-center text-lg"
                style="font-family: 'Arial', sans-serif"
            >
                Our mission is to provide coffee enthusiasts with a seamless and
                convenient ordering experience, while also supporting local
                coffee businesses.
            </p>
        </div>

        <!-- Bottom center card -->
        <div
            class="roundedp-4 col-span-1 m-2 flex h-48 animate-flip-up items-center justify-center"
        ></div>

        <!-- Bottom right corner -->
        <div
            class="col-span-1 m-2 flex h-48 animate-flip-up items-center justify-center rounded bg-slate-400 bg-opacity-70 p-4 duration-300 animate-delay-1000 hover:bg-orange-700 hover:bg-opacity-70"
        >
            <p
                class="text-zinc-1000 cursor-default text-center text-lg"
                style="font-family: 'Arial', sans-serif"
            >
                Join us on this coffee journey and experience the future of
                coffee ordering with Coffee.QR! Start exploring our app today
                and discover a whole new way to enjoy.
            </p>
        </div>
    </div>
</div>
