<div
    class="custom-bg-it-support flex h-screen flex-col items-center justify-center bg-gradient-to-tr"
>
    <form
        class="mb-4 w-1/2 animate-fade-down rounded bg-white bg-opacity-25 px-16 py-8 text-center"
        (ngSubmit)="onSubmit()"
    >
        <div class="mb-4">
            <label
                class="text-stroke mb-2 block text-2xl font-bold text-zinc-100"
                for="name"
            >
                Local Name:
            </label>
            <input
                class="focus:shadow-outline w-full appearance-none rounded border px-3 py-3 text-center leading-tight text-gray-700 shadow focus:outline-none"
                type="text"
                [(ngModel)]="localName"
                name="name"
                required
            />
        </div>
        <div class="mb-4">
            <label
                class="mb-2 block text-2xl font-bold text-zinc-100"
                for="datetime"
            >
                Local City:
            </label>
            <input
                class="focus:shadow-outline w-full appearance-none rounded border px-3 py-3 text-center leading-tight text-gray-700 shadow focus:outline-none"
                type="text"
                [(ngModel)]="localCity"
                name="datetime"
                required
            />
        </div>
        <div class="mb-4">
            <label
                class="mb-2 block text-2xl font-bold text-zinc-100"
                for="datetime"
            >
                Local starting date of partnership:
            </label>
            <input
                class="focus:shadow-outline w-full appearance-none rounded border px-3 py-3 text-center leading-tight text-gray-700 shadow focus:outline-none"
                type="date"
                [(ngModel)]="localDateOfStartingPartnership"
                name="datetime"
                required
            />
        </div>

        <div class="mt-8 flex items-center justify-center">
            <button
                class="focus:shadow-outline btn-custom-color rounded px-6 py-3 font-bold text-cyan-900 duration-300 hover:bg-lime-300 hover:text-black focus:outline-none"
                type="submit"
            >
                Proceed to next step
            </button>
        </div>
    </form>
</div>
