.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding: 50px;
    height: auto;
    background-color: rgba(10, 16, 21, 0.8);
    border-radius: 10px;
    border: 1px solid black;
    margin: auto;
    margin-top: 9%;
}

.inputContainer {
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 120px;
}

.fInput {
    text-align: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(48, 45, 45);
    background-color: rgba(10, 16, 21, 1);
    padding: 10px;
    color: white;
    transition: 0.1s;
}

.fInput:focus {
    border: 1px rgb(48, 45, 45) solid;
    outline: none;
}

.fInput:focus::placeholder {
    color: rgb(48, 45, 45);
}

.fInput.email {
    margin-bottom: 4%;
}

.fInput.pass {
    margin-top: 3%;
}

.login {
    color: rgb(182, 214, 240);
    font-weight: 700;
    font-size: 25px;
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

.log {
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.151);
    margin-top: 25px;
    padding: 7px 0;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.log:hover {
    background-color: rgba(255, 255, 255, 0.151);
}

.forget {
    width: 100%;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.151);
    margin-top: 15px;
    padding: 7px 0;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.forget:hover {
    background-color: rgba(255, 255, 255, 0.151);
}

.con {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
    color: rgb(111, 103, 103);
    font-size: 13px;
    font-family: sans-serif;
    background-color: rgba(255, 0, 0, 0);
}

.con a {
    color: rgb(71, 92, 109);
}

.spinner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top-color: #fff;
    animation: spin 1s linear infinite;
    margin-left: 47.5%; /* Adjust margin as needed */
    vertical-align: middle;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
