<!-- <div [style.backgroundImage]="'url(' + backgroundImage + ')'" class="custom-bg"> -->

<form
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    class="form animate-fade-down animate-delay-500"
>
    <p class="login">Log in to Coffe.QR</p>
    <div class="inputContainer">
        <input
            formControlName="username"
            placeholder="Enter your username"
            type="text"
            class="fInput email"
        />
        <input
            formControlName="password"
            placeholder="Enter your password"
            type="password"
            class="fInput pass"
        />
    </div>
    <button class="log">Log in</button>
    <button class="forget">Forget password?</button>
    <div class="con">
        <p>Don't have account?&nbsp;</p>
        <a class="cursor-pointer" (click)="navigateToRegister()"> Sign in</a>
    </div>
</form>
