/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideshow {
  0% {
    background-image: url("./assets/landing1.jpg");
  }
  33% {
    background-image: url("./assets/landing2.jpg");
  }
  66% {
    background-image: url("./assets/landing3.jpg");
  }
  100% {
    background-image: url("./assets/landing1.jpg");
  }
}

.custom-bg {
  animation: slideshow 9s forwards infinite;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
