<div class="custom-bg">
  <form class="form animate-fade-right">
    <p class="login">Log in to Coffe.QR</p>
    <div class="inputContainer">
      <input
        placeholder="phone or email or username"
        type="text"
        class="fInput email"
      />
      <input
        placeholder="Enter your password"
        type="text"
        class="fInput pass"
      />
    </div>
    <button class="log">Log in</button>
    <button class="forget">forget password?</button>
    <div class="con">
      <p>don't have account?&nbsp;</p>
      <a href="#"> sign in</a>
    </div>
  </form>
</div>
