<form class="form animate-fade-down">
  <p class="login">Log in to Coffe.QR</p>
  <div class="inputContainer">
    <input
      placeholder="Phone or Email or username"
      type="text"
      class="fInput email"
    />
    <input placeholder="Enter your password" type="text" class="fInput pass" />
  </div>
  <button class="log">Log in</button>
  <button class="forget">Forget password?</button>
  <div class="con">
    <p>Don't have account?&nbsp;</p>
    <a routerLink=""> sign in</a>
  </div>
</form>
