<div
    class="flex h-screen flex-col items-center justify-center bg-gradient-to-tr from-green-300 to-black"
>
    <h1 class="text-6xl text-white">
        Hello {{ user?.username }}, your role is {{ user?.role }}
    </h1>
    <button
        (click)="onLogout()"
        class="mt-8 rounded bg-orange-500 px-6 py-3 font-bold uppercase text-white transition duration-300 hover:scale-110 hover:bg-orange-700"
    >
        Logout
    </button>

    <h1 class="mt-20 text-center text-3xl font-bold text-blue-50">Events</h1>
    <div
        class="scrollbar grid max-h-64 grid-cols-1 gap-4 overflow-auto p-4 md:grid-cols-2 lg:grid-cols-3"
    >
        <div
            *ngFor="let event of events"
            class="rounded-lg bg-white bg-opacity-85 p-4 shadow-lg duration-300 hover:scale-105"
        >
            <div class="mb-2 text-center text-xl font-bold">
                {{ event.name }}
            </div>
            <p class="mb-4 text-base text-gray-700">
                {{ event.dateTime | date: 'medium' }}
            </p>
            <p class="text-sm text-gray-600">
                {{ event.description }}
            </p>
            <div class="flex flex-col items-center justify-between">
                <button
                    class="mt-4 rounded bg-lime-700 px-4 py-2 font-bold text-white duration-300 hover:bg-lime-300 hover:text-black"
                >
                    View Details
                </button>
                <button
                    (click)="deleteEvent(event.id)"
                    class="mt-4 rounded bg-red-500 px-4 py-2 font-bold text-white duration-300 hover:bg-red-700"
                >
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
