<div
    class="flex h-screen flex-col items-center justify-center bg-gradient-to-tr from-green-300 to-black"
>
    <h1 class="animate-fade-down text-6xl text-white">
        Hello {{ user?.username }}, your role is {{ user?.role }}
    </h1>
    <button
        (click)="onLogout()"
        class="mt-8 animate-fade-down rounded bg-orange-500 px-6 py-3 font-bold uppercase text-white transition duration-300 hover:scale-110 hover:bg-orange-700"
    >
        Logout
    </button>

    <!-- <h1
        *ngIf="events.length > 0"
        class="mt-20 text-center text-3xl font-bold text-blue-50"
    >
        Events
    </h1> -->
</div>
