<div
    class="custom-bg-waiter flex h-screen flex-col items-center justify-center"
>
    <div
        *ngIf="notifications.length != 0"
        class="notification-container w-full max-w-lg animate-fade-down rounded-lg bg-white bg-opacity-70 p-6 shadow-lg"
    >
        <h1 class="text-center text-2xl font-bold text-gray-800">
            Notifications
        </h1>
        <div class="mt-4 max-h-96 overflow-auto">
            <ul class="divide-y divide-gray-200">
                <li
                    *ngFor="let notification of notifications"
                    class="flex items-center justify-between py-4"
                >
                    <span class="text-gray-600">{{
                        notification.message
                    }}</span>
                    <button
                        (click)="markAsRead(notification.id)"
                        class="ml-4 mr-10 rounded bg-slate-600 px-4 py-2 text-white transition duration-300 hover:bg-slate-800"
                    >
                        Mark as done
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div
        *ngIf="notifications.length === 0"
        class="notification-container w-full max-w-lg animate-fade-down rounded-lg bg-white bg-opacity-70 p-6 shadow-lg"
    >
        <h1 class="text-center text-2xl font-medium text-gray-800">
            You don't have new notifications
        </h1>
    </div>
</div>
